/* 
    Created on : Dec 1, 2016, 7:26:58 PM
    Author     : babylu
*/
.left{
    width: 65%;
    height: 100%;
    display: inline-block;
    margin-right: 5px;
    float: left;
}

.right{
    width: 34%;
    height: 100%;
    display: inline-block;
    float: left;
}

#slider{
    margin-top: 20px;
    margin-left: 5px;
}

#chart{
    padding-top: 20px;
    text-align: center;
    font-size: 15px;
    font-family: Garamond;
}

#tab{
    margin-left: 4px;
    height:22px;
}

#tab div{
    display: inline-block;
    width: 140px;
    height: 20px;
    border: 1px solid black;
    float: left;
    cursor: pointer;
}

.tabSelected{
    background-color: grey;
}

.tabUnselected{
    background-color: lightgrey;
}

.figure div{
    margin-top: 20px;
}


.legend {
text-align: left;
line-height: 18px;
color: #555;
}
.legend i {
width: 18px;
height: 18px;
float: left;
margin-right: 8px;
opacity: 0.7;
}
.legend .circle {
border-radius: 50%;
width: 10px;
height: 10px;
margin-top: 8px;
}

.leaflet-top .legend{
	font-weight:bold;
}